<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileQuery.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <FileQuery.Wpf.Properties.Settings>
            <setting name="FileViewerApp" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchQuery" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultsBackground" serializeAs="String">
                <value>#111111</value>
            </setting>
            <setting name="ResultsForegound" serializeAs="String">
                <value>#FF32CD32</value>
            </setting>
        </FileQuery.Wpf.Properties.Settings>
    </userSettings>
</configuration>